.data-print {
    font-family: initial!important;
}
.data-print h1 {
    font-family: initial!important;
}
.print-footers {
    float: right;
    bottom: 0;
    margin-right: 10px;
    position: relative;
}

.print-gambar {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.print-content {
    color: black!important;
}

.str2 {stroke:#365516;stroke-width:41.9764}
.str0 {stroke:#49721E;stroke-width:41.9764}
.str1 {stroke:#BEE396;stroke-width:41.9764}
.str5 {stroke:#365516;stroke-width:41.9764}
.str3 {stroke:#49721E;stroke-width:41.9764}
.str4 {stroke:#BEE396;stroke-width:41.9764}
.fil1 {fill:none}
.fil9 {fill:#00362B}
.fil251 {fill:#00362B}
.fil18 {fill:#009E7E}
.fil17 {fill:#009F7F}
.fil16 {fill:#00A080}
.fil15 {fill:#00A181}
.fil14 {fill:#00A382}
.fil13 {fill:#00A483}
.fil12 {fill:#00A584}
.fil11 {fill:#00A785}
.fil10 {fill:#00A886}
.fil41 {fill:#018A6E}
.fil40 {fill:#018A6F}
.fil39 {fill:#018B6F}
.fil38 {fill:#018C70}
.fil37 {fill:#018D71}
.fil36 {fill:#018E71}
.fil35 {fill:#018E72}
.fil34 {fill:#018F72}
.fil33 {fill:#019073}
.fil32 {fill:#019174}
.fil31 {fill:#019275}
.fil30 {fill:#019375}
.fil29 {fill:#019376}
.fil28 {fill:#019477}
.fil27 {fill:#019577}
.fil26 {fill:#019678}
.fil25 {fill:#019779}
.fil24 {fill:#019879}
.fil23 {fill:#01997A}
.fil22 {fill:#019A7B}
.fil21 {fill:#019B7C}
.fil20 {fill:#019C7C}
.fil19 {fill:#019D7D}
.fil71 {fill:#02755E}
.fil70 {fill:#02765F}
.fil69 {fill:#02775F}
.fil68 {fill:#027760}
.fil67 {fill:#027860}
.fil66 {fill:#027861}
.fil65 {fill:#027961}
.fil64 {fill:#027962}
.fil63 {fill:#027A62}
.fil62 {fill:#027B62}
.fil61 {fill:#027B63}
.fil60 {fill:#027C63}
.fil59 {fill:#027C64}
.fil58 {fill:#027D64}
.fil57 {fill:#027D65}
.fil56 {fill:#027E65}
.fil55 {fill:#027F66}
.fil54 {fill:#028066}
.fil53 {fill:#028067}
.fil52 {fill:#028167}
.fil51 {fill:#028168}
.fil50 {fill:#028268}
.fil49 {fill:#028369}
.fil48 {fill:#02846A}
.fil47 {fill:#02856A}
.fil46 {fill:#02856B}
.fil45 {fill:#02866B}
.fil44 {fill:#02876C}
.fil43 {fill:#02886D}
.fil42 {fill:#02896E}
.fil105 {fill:#03614E}
.fil104 {fill:#03614F}
.fil103 {fill:#03624F}
.fil102 {fill:#036350}
.fil101 {fill:#036450}
.fil100 {fill:#036451}
.fil99 {fill:#036551}
.fil98 {fill:#036552}
.fil97 {fill:#036652}
.fil96 {fill:#036753}
.fil95 {fill:#036853}
.fil94 {fill:#036854}
.fil93 {fill:#036954}
.fil92 {fill:#036955}
.fil91 {fill:#036A55}
.fil90 {fill:#036A56}
.fil89 {fill:#036B56}
.fil88 {fill:#036B57}
.fil87 {fill:#036C57}
.fil86 {fill:#036D57}
.fil85 {fill:#036D58}
.fil84 {fill:#036E58}
.fil83 {fill:#036E59}
.fil82 {fill:#036F59}
.fil81 {fill:#036F5A}
.fil80 {fill:#03705A}
.fil79 {fill:#03715B}
.fil78 {fill:#03725B}
.fil77 {fill:#03725C}
.fil76 {fill:#03735C}
.fil75 {fill:#03735D}
.fil74 {fill:#03745D}
.fil73 {fill:#03745E}
.fil72 {fill:#03755E}
.fil135 {fill:#044D3E}
.fil134 {fill:#044D3F}
.fil133 {fill:#044E3F}
.fil132 {fill:#044E40}
.fil131 {fill:#044F40}
.fil130 {fill:#045041}
.fil129 {fill:#045142}
.fil128 {fill:#045242}
.fil127 {fill:#045243}
.fil126 {fill:#045343}
.fil125 {fill:#045344}
.fil124 {fill:#045444}
.fil123 {fill:#045545}
.fil122 {fill:#045645}
.fil121 {fill:#045646}
.fil120 {fill:#045746}
.fil119 {fill:#045747}
.fil118 {fill:#045847}
.fil117 {fill:#045948}
.fil116 {fill:#045A49}
.fil115 {fill:#045B49}
.fil114 {fill:#045B4A}
.fil113 {fill:#045C4A}
.fil112 {fill:#045C4B}
.fil111 {fill:#045D4B}
.fil110 {fill:#045E4C}
.fil109 {fill:#045F4C}
.fil108 {fill:#045F4D}
.fil107 {fill:#04604D}
.fil106 {fill:#04604E}
.fil149 {fill:#054236}
.fil148 {fill:#054337}
.fil250 {fill:#054437}
.fil147 {fill:#054438}
.fil146 {fill:#054538}
.fil145 {fill:#054539}
.fil144 {fill:#054639}
.fil249 {fill:#05463A}
.fil143 {fill:#05473A}
.fil142 {fill:#05483B}
.fil141 {fill:#05493B}
.fil140 {fill:#05493C}
.fil139 {fill:#054A3C}
.fil138 {fill:#054A3D}
.fil137 {fill:#054B3D}
.fil248 {fill:#054B3E}
.fil136 {fill:#054C3E}
.fil247 {fill:#054D3F}
.fil246 {fill:#054E3F}
.fil245 {fill:#054E40}
.fil244 {fill:#054F40}
.fil243 {fill:#064F40}
.fil242 {fill:#064F41}
.fil241 {fill:#065041}
.fil240 {fill:#065042}
.fil239 {fill:#065142}
.fil238 {fill:#065243}
.fil237 {fill:#065343}
.fil236 {fill:#065344}
.fil235 {fill:#065444}
.fil234 {fill:#065445}
.fil233 {fill:#065545}
.fil232 {fill:#065546}
.fil231 {fill:#065646}
.fil230 {fill:#065747}
.fil229 {fill:#065847}
.fil228 {fill:#065848}
.fil227 {fill:#065948}
.fil226 {fill:#065949}
.fil225 {fill:#065A49}
.fil224 {fill:#065A4A}
.fil223 {fill:#065B4A}
.fil222 {fill:#065C4B}
.fil221 {fill:#065D4B}
.fil220 {fill:#065D4C}
.fil219 {fill:#065E4C}
.fil218 {fill:#065E4D}
.fil217 {fill:#065F4D}
.fil216 {fill:#065F4E}
.fil215 {fill:#06604E}
.fil214 {fill:#06604F}
.fil213 {fill:#06614F}
.fil212 {fill:#06624F}
.fil211 {fill:#066250}
.fil210 {fill:#066350}
.fil209 {fill:#066351}
.fil208 {fill:#066451}
.fil207 {fill:#066452}
.fil206 {fill:#066552}
.fil205 {fill:#066653}
.fil204 {fill:#066753}
.fil203 {fill:#066754}
.fil202 {fill:#066854}
.fil201 {fill:#066855}
.fil200 {fill:#076955}
.fil199 {fill:#076956}
.fil198 {fill:#076A56}
.fil197 {fill:#076B57}
.fil196 {fill:#076C57}
.fil195 {fill:#076C58}
.fil194 {fill:#076D58}
.fil193 {fill:#076D59}
.fil192 {fill:#076E59}
.fil191 {fill:#076E5A}
.fil190 {fill:#076F5A}
.fil189 {fill:#076F5B}
.fil188 {fill:#07705B}
.fil187 {fill:#07715C}
.fil186 {fill:#07725C}
.fil185 {fill:#07725D}
.fil184 {fill:#07735D}
.fil183 {fill:#07735E}
.fil182 {fill:#07745E}
.fil181 {fill:#07755F}
.fil180 {fill:#077660}
.fil179 {fill:#077760}
.fil178 {fill:#077761}
.fil177 {fill:#077861}
.fil176 {fill:#077862}
.fil175 {fill:#077962}
.fil174 {fill:#077963}
.fil173 {fill:#077A63}
.fil172 {fill:#077B64}
.fil171 {fill:#077C64}
.fil170 {fill:#077C65}
.fil169 {fill:#077D65}
.fil168 {fill:#077D66}
.fil167 {fill:#077E66}
.fil166 {fill:#077F67}
.fil165 {fill:#078068}
.fil164 {fill:#078169}
.fil163 {fill:#08826A}
.fil162 {fill:#08836A}
.fil161 {fill:#08846B}
.fil160 {fill:#08856C}
.fil159 {fill:#08866C}
.fil158 {fill:#08866D}
.fil157 {fill:#08876E}
.fil156 {fill:#08886F}
.fil155 {fill:#08896F}
.fil154 {fill:#088A70}
.fil153 {fill:#088B71}
.fil152 {fill:#088D72}
.fil151 {fill:#088E73}
.fil150 {fill:#088F74}
.fil4 {fill:#49721E}
.fil6 {fill:#517E21}
.fil2 {fill:#527F22}
.fil7 {fill:#6EAA2E}
.fil3 {fill:#A9DA74}
.fil5 {fill:#BEE396}
.fil0 {fill:#F7FFFD}
.fil260 {fill:#FEFEFE}
.fil253 {fill:url(#id7)}
.fil8 {fill:url(#id8)}
.fil252 {fill:url(#id9)}
.fil259 {fill:url(#id10)}
.fil261 {fill:url(#id11)}
.fil254 {fill:url(#id12)}
.fil255 {fill:url(#id13)}
.fil256 {fill:url(#id14)}
.fil257 {fill:url(#id15)}
.fil258 {fill:url(#id16)}

@media screen and (max-width: 800px) {
    .data-print {
        position: absolute;
        visibility: hidden;
        top: 0;
        display: none;
    }
}